Icon

.DS_Store
.metadata
desktop.ini
*.pyc
*.8
*.cdf
*.cache
*.obj
*.ilk
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.res
*.pch
*.ipch
*.exp
*.idb
*.rep
*.xdc
*.pdb
*_manifest.rc
*.bsc
*.sbr
*.sdf
*.opensdf
Debug/
Release/
Debug_core/
Debug_framework/
Release_core/
Release_framework/