Icon

.DS_Store
.metadata
desktop.ini
*.pyc
*.8
*.cdf
*.cache
*.obj
*.ilk
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.res
*.pch
*.ipch
*.exp
*.idb
*.rep
*.xdc
*.pdb
*_manifest.rc
*.bsc
*.sbr
*.sdf
*.opensdf
*.vcxproj.user
*.suo
CMakeCache.txt
CMakeFiles/
bin/
bin-debug/
intermediate/
Debug/
Release/
Debug_core/
Debug_framework/
Release_core/
Release_framework/
bullet-2.81-rev2613/
LuaJIT-2.0.2/
SDL2-2.0.0/
